HOST=geocodes-aws-dev.earthcube.org
PROJECT=geocodesexamples
QLEVER_CONFIG=geocodesexamples
QLEVER_CONFIG_UI=geocodesexamples
# rclone sync
# use the local minio docker container name to traffic does not need to go through the internet
#S3_ENDPOINT=oss.geocodes-aws.earthcube.org
S3_ENDPOINT=http://s3system:9000
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_TYPE=s3
S3_PROVIDER=Minio
S3_REGION=eu-central-1
S3_BUCKET=decoder
S3_PATH=graphs/latest

#QLEVER_NET=base
### LOCAL DEV
#PREFIX=data
#### for qlever_services.yaml
#QLEVERUI_SECRET_KEY
# QLEVERUI_CSRF_TRUSTED_ORIGINS
# QLEVERUI_CSRF_TRUSTED_ORIGINS: ${QLEVERUI_CSRF_TRUSTED_ORIGINS:-https://*.geocodes-aws-dev.earthcube.org}



